---
# SELinux Hardening Tasks

- name: SELinux | Ensure SELinux is installed
  ansible.builtin.package:
    name:
      - libselinux
      - policycoreutils
      - policycoreutils-python-utils
      - selinux-policy
      - selinux-policy-targeted
    state: present

- name: SELinux | Set SELinux state
  ansible.posix.selinux:
    policy: "{{ selinux_policy }}"
    state: "{{ selinux_state }}"
  register: selinux_state_change

- name: SELinux | Apply file contexts
  community.general.sefcontext:
    target: "{{ item.target }}"
    setype: "{{ item.setype }}"
    state: present
  loop: "{{ selinux_file_contexts }}"
  when: selinux_file_contexts is defined
  register: selinux_fcontext_result

- name: SELinux | Restore contexts on changed paths
  ansible.builtin.command: "restorecon -Rv {{ item.item.target | regex_replace('\\(.*\\)', '') }}"
  loop: "{{ selinux_fcontext_result.results }}"
  when:
    - selinux_fcontext_result is defined
    - item.changed
  changed_when: true

- name: SELinux | Configure SELinux booleans
  ansible.posix.seboolean:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    persistent: "{{ item.persistent }}"
  loop: "{{ selinux_booleans }}"
  when: selinux_booleans is defined

- name: SELinux | Configure SELinux ports
  community.general.seport:
    ports: "{{ item.ports }}"
    proto: "{{ item.proto }}"
    setype: "{{ item.setype }}"
    state: "{{ item.state }}"
  loop: "{{ selinux_ports }}"
  when: selinux_ports is defined

- name: SELinux | Display configuration status
  ansible.builtin.debug:
    msg: "SELinux hardening completed - State: {{ selinux_state }}, Policy: {{ selinux_policy }}"
